# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Python / Pycache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Local Env Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.example

# Editor / System
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
